.git
.gitignore
.idea
.vscode
build
cmake-build-*
CMakeFiles
CMakeCache.txt
compile_commands.json
*.py
*.py[cod]
requirements.txt
__pycache__
*.log
.coverage
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
node_modules
npm-debug.log*
